# File di sistema
.DS_Store
Thumbs.db
*.tmp

# File Python
__pycache__/
*.py[cod]

# Modelli grandi (esclusi da GitHub)
models/checkpoints/*.safetensors
models/unet/*.gguf
models/vae/*.safetensors
models/clip/*.safetensors
models/clip_vision/*.safetensors
models/loras/*.safetensors
models/upscale_models/*.pth
models/impact/*.pth
*.bin
*.ckpt

# File temporanei
*.log
*.bak
output/
temp/

# Mantieni file LUT e struttura
!models/LUTs/*.cube 